@import './animation.css';

/* ==== General Styling ==== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--prim-color: mediumseagreen;
	--light-color: rgba(255, 255, 255, 0.8);
	--full-width: 100%;
}
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg) center center/cover;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.2rem;
}
p, span {
	line-height: 1.5;
}

.home__subtitle {
	overflow: hidden;
}
.home__subtitle #text {
	animation: change-text 6s ease-out infinite;
}
/* ========================= */