/* ==== General Styling ==== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--prim-color: mediumseagreen;
	--light-color: rgba(255, 255, 255, 0.8);
	--full-width: 100%;
}
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg) center center/cover;
	position: relative;
	overflow: hidden;
}
a {
	text-decoration: none;
}
p, span {
	line-height: 1.5;
}
section {
	top: 0;
	overflow: auto;
}
section.move-in {
	animation: move-in 1.2s ease-out forwards;
}
section.move-out {
	animation: move-out 1.2s ease-out forwards;
}
@keyframes change-text {
	0% {
		transform: translateY(2rem);
		opacity: 0;
	} 40%, 50%, 60% {
		transform: translateY(0);
		opacity: 1;
	} 100% {
		transform: translateY(-2rem);
		opacity: 0;
	}
}
/* ========================= */


/* ========= Navbar ========= */
.navbar {
	z-index: 2;
}
.navbar__menu li {
	transition: .4s linear;
}
.navbar__menu li:hover,
.navbar__menu li.active {
	color: var(--prim-color);
}
/* ========================== */

/* ========== Home ========== */
.home__subtitle {
	overflow: hidden;
}
.home__subtitle #text {
	animation: change-text 6s ease-out infinite;
}
/* ========================== */